/* Popular-Style */


/* Accounting-Area */

:root {
    --prussian-blue: #1D63FF;
    --galactica: rgb(0, 0, 128);
    --dark-bootstrap: #343040;
    --silver-bootstrap: #6c757d;
    --white50-bootstrap: #f8f9fa;
    --eburnean: #ffffee;
    --primary-bootstrap: #007bff;
    --info-bootstrap: #17a2b8;
    --downy-teal: #6ACFC7;
    --danger-bootstrap: #dc3545;
    --success-bootstrap: #28a745;
    --warning-bootstrap: #ffc107;

}

* {
    box-sizing: border-box;
    font-family: 'IRANSansWeb';
    direction: rtl;

}

/* End Popular-Style */



/* Fonts */

@font-face {
    font-family: 'IRANSansWeb';
    src:
        url('../files/fonts/IRANSansWeb.ttf')format('truetype'),
        url('../files/fonts/IRANSansWeb.woff')format('woff'),
        url('../files/fonts/IRANSansWeb.woff2')format('woff2');

    font-weight: normal;
    font-style: normal;

}

/* End Fonts */



.accounting-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.accounting-container-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.accounting-container-back {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../files/images/accounting-back1.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    clip: rect(0, auto, auto, 0);
    z-index: -1;
}

.accounting-box-container {
    position: absolute;
    top: 30px;
    right: 120px;
    width: 700px;
    height: 600px;
    border: 1px solid var(--silver-bootstrap);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    box-shadow: 1px 1px 15px var(--white50-bootstrap);
    background-color: var(--white50-bootstrap);


}

.accounting-box {
    width: 65%;
    position: relative;
    /* padding: 10px; */
    overflow: hidden;

}

.account-register fieldset,
.account-login fieldset {
    width: 350px !important; 
    border-radius: 13px !important;
    border-width: 1px !important;
    border-color: #ccc !important;
    margin-bottom: 20px !important;
    padding: 4px 7px 7px 7px !important;
}

.account-register legend,
.account-login legend {
    font-size: 0.9rem;
    color: var(--silver-bootstrap);
    padding: 0 5px;
    margin: 0;
}

.account-register input,
.account-login input {
    width: 330px;
    height: 30px;
    padding: 5px;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--dark-bootstrap);
    font-size: 1rem;

}

.account-register,
.account-login {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.1s;
    /* transition: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19); */
    /* transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86); */
    /* transition: all 0.5s cubic-bezier(0.95, 0.05, 0.795, 0.035); */

}

.account-register {
    top: -600px;
}

/* .account-login{
    transform: rotateX(360deg);
}
.account-register{
    z-index: 2;
    backface-visibility: hidden;
    transform: rotateX(0deg);
} */

.account-title {
    width: inherit;
    text-align: center;
}

.account-title h2 {
    text-align: center;
    margin: 0;
    /* border: 3px solid var(--info-bootstrap); */
    margin-bottom: 10px;
    background-color: rgba(230, 227, 227, 0.7);
    padding: 10px;
    /* border-radius: 5px; */
    color: var(--dark-bootstrap);
    text-shadow: 0.1rem 0.1rem 0.8rem #fff;
    letter-spacing: 0.1rem;
}

.account-register button[type='submit'],
.account-login button[type='submit'] {
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--prussian-blue);
    color: var(--white50-bootstrap);
    font-size: 1.1rem;
    border: 2px solid transparent;
    font-weight: 600;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.5s;

}

.account-register button[type='submit']:hover,
.account-login button[type='submit']:hover {
    background-color: var(--white50-bootstrap);
    color: var(--prussian-blue);
    border: 2px solid var(--prussian-blue);

}

.accounting-left-title {
    width: 35%;
    height: 100%;
    text-align: center;
    padding: 40px 0;

    background: hsla(217, 100%, 50%, 1);
    background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1);
}

.accounting-left-title button {
    display: block;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--galactica);
    color: var(--white50-bootstrap);
    font-size: 1.1rem;
    border: 2px solid transparent;
    font-weight: 600;
    margin: 30px auto;
    cursor: pointer;
    transition: all 0.5s;
}


.accounting-left-title button:hover {
    background-color: var(--white50-bootstrap);
    color: var(--prussian-blue);
    border: 2px solid var(--prussian-blue);

}

.accounting-left-socials {
    margin: 50px auto;
    width: 90%;
    text-align: center;
}

.accounting-left-socials p {
    font-size: 0.8rem;
    color: var(--dark-bootstrap);
    margin-bottom: 30px;
}

.accounting-left-socials a {
    text-decoration: none;
    color: var(--white50-bootstrap);
    font-size: 1.5rem;
    margin: 0 7px;
    border-radius: 50%;
    transition: all 1s;
}

.accounting-left-socials a:hover i {
    color: var(--downy-teal);
    transform: scale(1.5);
}

#messages-accounting{
    position: absolute;
    top: 15px;
    right: 15px;
}

.messages-form{
    background-color: rgb(255, 193, 7,0.9);
    padding: 5px 20px;
    color: var(--dark-bootstrap);
    width: 450px;
    border-radius: 5px;
    display: none;
}

.messages-form h3{
    margin: 7px 0;
    color: var(--danger-bootstrap);
    text-shadow: 2px 2px 5px var(--white50-bootstrap);
}

.messages-form ul{
    margin: 5px 0;
}

.messages-form ul li{
    font-size: 0.9rem;
    line-height: 25px;
    
}



/* End Accounting-Area */